#first-row {
    max-height: 450px;
}
#second-row {
}
.card {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card-header {
}
#title-card {
}


  .card-img-bottom {
    color: #fff;
    height: 20rem;
    
    height: 150px;
    width: 200px;
    margin-right: 25px;
  }

  .card-block {
      float:left;
  }